<div class="box cover">
  <div class="cover-image"></div>
  <div class="cover-info">
    <div class="cover-headline">Weitere tolle Rezepte finden Sie im Buch "Greenbox" von Tim Mälzer</div>
    <div class="cover-copyright">Fotos &copy; Matthias Haupt</div>
  </div>
</div>
