<div class="uk-nav uk-nav-offcanvas" data-uk-nav>
    <li class="uk-nav-header">
        <span>Your Shopping Lists</span>
        <span class="uk-align-right">
            <a href="#shoppingList/create"><i class="uk-icon-small uk-icon-plus"></i></a>
        </span>
    </li>
    <ul data-role="listItems"></ul>
</div>
