<div id="instructions-move" class="instruction">
  <div class="instructions-hand"></div>
  <div class="instructions-text">
    Bewegen Sie Ihre Hand über dem Leap-Sensor,
    um durch die Rezepte zu navigieren.
  </div>
</div>

<div id="instructions-click" class="instruction">
  <div class="instructions-hand"></div>
  <div class="instructions-text">
    Zeigen Sie mit einem Finger auf ein Rezept und
    warten Sie eine Sekunde, um es auszuwählen.
  </div>
</div>

<div id="instructions-circle" class="instruction">
  <div class="instructions-hand"></div>
  <div class="instructions-text">
    Machen Sie eine kreisförmige Bewegung, um die
    Anzahl der Personen zu ändern.
  </div>
</div>
