.blue-btn, .grey-btn
  display: inline-block

  border: none
  border-radius: 3px

  cursor: pointer

  text-decoration: none
  font-size: 18px
  font-weight: 500

  padding: 10px 50px

  &:last-child
    margin-bottom: 0

.blue-btn
  background: linear-gradient(top, #4365AC, #334D91)
  color: white

.grey-btn
  background: linear-gradient(top, #AAAFB5, #727A86)
  color: white

/**
 * Buttons with icons
 */
.btn-icon
  display: inline-block

  width: 26px
  height: 24px

  float: left

  margin-right: 18px
  margin-top: -2px

.btn-check-in
  background: url("/images/button-check-in.png") no-repeat center center

.btn-share
  background: url("/images/button-share.png") no-repeat center center

.btn-back
  background: url("/images/button-back.png") no-repeat center center
