/**
 * Font weight: 100
 */
@font-face
  font-family: MuseoSansRounded
  font-weight: 100
  src: url("/fonts/MuseoSansRounded-100Web.woff") format("woff")

@font-face
  font-family: MuseoSansRounded
  font-weight: 100
  src: url("/fonts/MuseoSansRounded-100Web.eot")

/**
 * Font weight: 300
 */
@font-face
  font-family: MuseoSansRounded
  font-weight: 300
  src: url("/fonts/MuseoSansRounded-300Web.eot")
  src: url("/fonts/MuseoSansRounded-300Web.woff") format("woff")

@font-face
  font-family: MuseoSansRounded
  font-weight: 300
  src: url("/fonts/MuseoSansRounded-300Web.eot")

/**
 * Font weight: 500
 */

@font-face
  font-family: MuseoSansRounded
  font-weight: 500
  src: url("/fonts/MuseoSansRounded-500Web.eot")
  src: url("/fonts/MuseoSansRounded-500Web.woff") format("woff")

@font-face
  font-family: MuseoSansRounded
  font-weight: 500
  src: url("/fonts/MuseoSansRounded-500Web.eot")

/**
 * Font weight: 700
 */

@font-face
  font-family: MuseoSansRounded
  font-weight: 700
  src: url("/fonts/MuseoSansRounded-700Web.eot")
  src: url("/fonts/MuseoSansRounded-700Web.woff") format("woff")

@font-face
  font-family: MuseoSansRounded
  font-weight: 700
  src: url("/fonts/MuseoSansRounded-700Web.eot")
