#index-message
  width: 100%
  position: absolute
  bottom: 50px

  font-size: 24px
  color: #3B5998

  text-align: center

#index-arrow
  position: absolute
  bottom: 10px
  left: 50%

  &:after
    top: 100%
    left: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-color: rgba(136, 183, 213, 0)
    border-top-color: #3B5998
    border-width: 10px
    margin-left: -10px
    margin-top: 20px

#index-video
  width: 1117px
  height: 628px

  background: #D4D4D4

  position: absolute
  left: 50%
  top: 30px

  margin-left: -558px
