#shoppinglist
  h3
    background: #F1F1F1
    padding: 10px 32px

    font-size: 20px
    color: #3B5998

.shoppinglist-items
  padding-left: 32px

  .item
    height: 77px

    font-size: 26px

    border-bottom: 1px solid rgba(black, 0.1)

    &:last-child
      border-bottom: none

  .item-name
    display: inline-block
    padding-top: 21px

    .name-brand
      font-size: 14px
      height: 14px
      color: rgba(black, 0.3)

  .item-price, .item-social
    float: right

  .item-price
    width: 200px
    text-align: right
    padding-top: 28px
    margin-right: 25px
    div
      display: inline

  .item-social
    width: 158px
    border-left: 1px solid rgba(black, 0.1)

    height: 36px

    padding-left: 25px
    margin-top: 22px

    font-size: 0

    position: relative

    .social-facebook, .social-twitter
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275)
      transform: scale(1)
      &.hidden
        transform: scale(0)

    div
      width: 40px
      height: 40px

      margin-right: 23px
      margin-top: -3px

      display: inline-block

      &:last-child
        margin-right: 0

      &.active
        cursor: pointer

  .social-facebook
    background-image: url("/images/facebook.png")
    &.active
      background-image: url("/images/facebook-active.png")

  .social-twitter
    background-image: url("/images/twitter.png")
    &.active
      background-image: url("/images/twitter-active.png")

  .loading
    width: 40px
    height: 40px

    background: url("/images/loading.gif") no-repeat center center
    position: absolute

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275)
    transform: scale(0)
    &.visible
      transform: scale(1)

    top: 1px
    &.loading-facebook
      left: 25px
    &.loading-twitter
      left: 88px

  .price-price
    color: $primaryColor

  .price-promotional
    .price-price
      color: #8DB100

    .price-old
      font-size: 20px
      text-decoration: line-through
      color: #909090
      margin-right: 10px
