.step-text
  white-space: normal

  .step-description
    font-size: 24px
    color: secondary_font_color

    line-height: 180%
    padding: 0 50px

    background: linear-gradient(top, transparent 0%, transparent 98%, rgba(black, 0.1) 100%)
    background-size: 100% 24*1.8px

    height: 100%
