%video#index-video{ autoplay: "autoplay", loop: "loop" }
  %source{ src: "/videos/splash.mp4" }

#index-message
  Scan your QR code to check the availability of the items on your shopping list.
  #index-arrow
