<h1>Bildschirmkalibrierung</h1>


<div id="calibration">
  <a href="{{url "recipes#index"}}" id="calibration-done-link" data-leap>
    <div id="calibration-done">Kalibrierung abschließen</div>
    <div id="calibration-reset">
      Erneute Kalibrierung in:
      <span id="calibration-reset-timer"></span>
    </div>
  </a>
</div>
